medicaloffice:
  source: https://github.com/Sensebloom/OSCeleton/raw/master/liblo-0.26-modified/examples/Release/Example.exe


  firebird_db:
    source: https://github.com/FirebirdSQL/firebird/releases/download/R3_0_5/Firebird-3.0.5.33220_0_x64.exe
